* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid black;
}

.col-6 img{
    margin: 0 auto;
    display: block;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 650px){
    .topcontact{
        display: none;
    }

    body>img{
        margin: 0 auto;
    }

    .mobile-background{
        background-image: url("http://placehold.it/250x150");
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .desktop-background{
        background-image: url("http://placehold.it/350x150");
    }
}

/*header*/

.left{
    float: left;
}

.right{
    float: right;
}
html {
    font-family: "Lucida Sans", sans-serif;
}

.topcontact{
    padding: 15px;
    height: 150px;
    float: right;
    border: 1px solid black;
    list-style-type: none;
}

.topmenu{
    text-align: center;
    padding: 15px;
    border: 1px solid black;
}

.col-12 .content-h1{
    text-align: center;
}


.col-12 .content-h2{
    text-align: center;
}

.col-7 .content-h2{
    text-align: center;
}

input[type='text'],
input[type='submit'],
textarea{
    width: 100%;
}

.col-5 form{
    height: 100%;
}

.content-text{
    text-align: center;
}

.col-6 button{
    width: 100%;
}

